@import url(https://fonts.googleapis.com/css?family=Red+Hat+Display:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic);
body {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.wrapper {
  max-width: 1110px;
  @media (min-width: 1110px) {
    width: 1100px;
  }
  .header {
    margin: 0 auto;
    width: 100%;
    margin: 65px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      width: 40px;
      height: 40px;
    }
    .navigation {
      display: flex;
      justify-content: start;
      align-items: center;
      &_item {
        a {
          margin: 0 50px;
          font-family: Red Hat Display;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          color: #7e7f86;
          text-decoration: none;
        }
      }
      #about {
        a {
          color: #25202f;
        }
      }
    }
    .burger-menu {
      padding: 20px;
      background-color: white;
    }
  }

  .i-am {
    margin-top: -150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .text-block {
      &__text {
        span {
          &:nth-child(1) {
            display: block;
            color: #666;
            font-family: Red Hat Display;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%; /* 28.8px */
          }
          &:nth-child(2) {
            margin: 15px 0 20px 0;
            display: block;
            color: #25202f;
            font-family: Red Hat Display;
            font-size: 60px;
            font-style: normal;
            font-weight: 700;
            line-height: 120%;
          }
          &:nth-child(3) {
            display: block;
            color: #25202f;
            font-family: Red Hat Display;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }
      }
      &__button {
        display: inline-block;
        margin-top: 50px;
        padding: 14px 48px;
        color: #fff;
        text-align: center;
        font-family: Red Hat Display;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        border-radius: 100px;
        background: #8643dc;
        text-decoration: none;
        transition-duration: 0.3s;
        &:hover {
          transform: scale(1.1);
          transition-duration: 0.3s;
        }
      }
    }
    .photo {
    }
  }
  .Services {
    &__description {
      color: #8643dc;
      font-family: Red Hat Display;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    &__line {
      margin: 10px 0px 15px 0px;
      width: 50px;
      height: 2px;
      background: #8643dc;
    }
    &__title {
      max-width: 245px;
      color: #25202f;
      font-family: Red Hat Display;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    .iLoveToDo {
      margin: 50px 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .iLoveToDo-block {
        &-top {
          display: flex;
          align-items: center;
          &__img {
          }
          &__title {
            margin-left: 20px;
            display: inline-block;
            color: #25202f;
            font-family: Red Hat Display;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
        }
        &__text {
          max-width: 350px;
          color: #47444e;
          font-family: Red Hat Display;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 32px; /* 200% */
        }
      }
    }
  }
}
