@import url(https://fonts.googleapis.com/css?family=Red+Hat+Display:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic);
body {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper {
  width: 100%;
  max-width: 1110px;
}
@media (min-width: 1110px) {
  .wrapper {
    width: 1100px;
  }
}
@media (max-width: 1110px) {
  .wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
  }
}
.wrapper .header {
  margin: 0 auto;
  width: 100%;
  margin: 65px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapper .header .logo {
  width: 40px;
  height: 40px;
}
@media (max-width: 436px) {
  .wrapper .header .logo {
    width: 30px;
    height: 30px;
  }
}
.wrapper .header .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 800px) and (min-width: 348px) {
  .wrapper .header .navigation {
    margin: 0 auto;
  }
}
.wrapper .header .navigation_item a {
  margin: 0 50px;
  font-family: Red Hat Display;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #7e7f86;
  text-decoration: none;
}
@media (max-width: 800px) {
  .wrapper .header .navigation_item a {
    margin: 0 10px;
  }
}
@media (max-width: 436px) {
  .wrapper .header .navigation_item a {
    font-size: 17px;
  }
}
@media (max-width: 348px) {
  .wrapper .header .navigation_item a {
    display: none;
  }
}
.wrapper .header .navigation #about a {
  color: #25202f;
}
.wrapper .header .burger-menu {
  padding: 20px;
  background-color: white;
}
@media (max-width: 436px) {
  .wrapper .header .burger-menu {
    padding: 10px;
  }
}
.wrapper .i-am {
  margin-top: -150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1130px) {
  .wrapper .i-am {
    margin-top: 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 892px) {
  .wrapper .i-am {
    margin-top: -20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
  }
}
@media (max-width: 893px) {
  .wrapper .i-am .text-block {
    margin-top: 20px;
  }
}
.wrapper .i-am .text-block__text span:nth-child(1) {
  display: block;
  color: #666;
  font-family: Red Hat Display;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 28.8px */
}
.wrapper .i-am .text-block__text span:nth-child(2) {
  margin: 15px 0 20px 0;
  display: block;
  color: #25202f;
  font-family: Red Hat Display;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
@media (max-width: 369px) {
  .wrapper .i-am .text-block__text span:nth-child(2) {
    margin: 10px 0 15px 0;
    font-size: 40px;
    line-height: 110%;
  }
}
.wrapper .i-am .text-block__text span:nth-child(3) {
  display: block;
  color: #25202f;
  font-family: Red Hat Display;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 369px) {
  .wrapper .i-am .text-block__text span:nth-child(3) {
    font-size: 20px;
  }
}
.wrapper .i-am .text-block__button {
  display: inline-block;
  margin-top: 50px;
  padding: 14px 48px;
  color: #fff;
  text-align: center;
  font-family: Red Hat Display;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 100px;
  background: #8643dc;
  text-decoration: none;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.wrapper .i-am .text-block__button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
@media (max-width: 800px) {
  .wrapper .i-am .photo {
    width: 80vw;
  }
}
.wrapper .Services {
  margin-top: 40px;
}
.wrapper .Services__description {
  color: #8643dc;
  font-family: Red Hat Display;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 730px) {
  .wrapper .Services__description {
    margin: 0 auto;
    text-align: center;
  }
}
.wrapper .Services__line {
  margin: 10px 0px 15px 0px;
  width: 50px;
  height: 2px;
  background: #8643dc;
}
@media (max-width: 730px) {
  .wrapper .Services__line {
    margin: 0 auto;
    text-align: center;
  }
}
.wrapper .Services__title {
  max-width: 245px;
  color: #25202f;
  font-family: Red Hat Display;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media (max-width: 730px) {
  .wrapper .Services__title {
    margin: 0 auto;
    text-align: center;
  }
}
.wrapper .Services .iLoveToDo {
  margin: 50px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1110px) {
  .wrapper .Services .iLoveToDo {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 730px) {
  .wrapper .Services .iLoveToDo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.wrapper .Services .iLoveToDo .iLoveToDo-block-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 730px) {
  .wrapper .Services .iLoveToDo .iLoveToDo-block-top {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.wrapper .Services .iLoveToDo .iLoveToDo-block-top__title {
  margin-left: 20px;
  display: inline-block;
  color: #25202f;
  font-family: Red Hat Display;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.wrapper .Services .iLoveToDo .iLoveToDo-block__text {
  max-width: 350px;
  color: #47444e;
  font-family: Red Hat Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
}
@media (max-width: 730px) {
  .wrapper .Services .iLoveToDo .iLoveToDo-block__text {
    text-align: center;
  }
}
.wrapper .Portfolio .Portfolio-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1120px) {
  .wrapper .Portfolio .Portfolio-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}
.wrapper .Portfolio .Portfolio-top .Portfolio-top-left__description {
  color: #8643dc;
  font-family: Red Hat Display;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 1120px) {
  .wrapper .Portfolio .Portfolio-top .Portfolio-top-left__description {
    margin: 0 auto;
    text-align: center;
  }
}
.wrapper .Portfolio .Portfolio-top .Portfolio-top-left__line {
  margin: 10px 0px 15px 0px;
  width: 50px;
  height: 2px;
  background: #8643dc;
}
@media (max-width: 1120px) {
  .wrapper .Portfolio .Portfolio-top .Portfolio-top-left__line {
    margin: 0 auto;
    text-align: center;
  }
}
.wrapper .Portfolio .Portfolio-top .Portfolio-top-left__title {
  max-width: 245px;
  color: #25202f;
  font-family: Red Hat Display;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media (max-width: 1120px) {
  .wrapper .Portfolio .Portfolio-top .Portfolio-top-left__title {
    margin: 0 auto;
    text-align: center;
  }
}
.wrapper .Portfolio .Portfolio-top .Portfolio-top-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.wrapper .Portfolio .Portfolio-top .Portfolio-top-right__text {
  color: #25202f;
  font-family: Red Hat Display;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
}
.wrapper .Portfolio .Portfolio-top .Portfolio-top-right__img {
  margin-top: 5px;
  margin-left: 10px;
  width: 24px;
}
@media (max-width: 1120px) {
  .wrapper .Portfolio .Portfolio-top .Portfolio-top-right {
    margin: 0 auto;
    text-align: center;
  }
}
.wrapper .Portfolio .Portfolio-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1120px) {
  .wrapper .Portfolio .Portfolio-bottom {
    margin-top: 20px;
  }
}
.wrapper .Portfolio .Portfolio-bottom__img {
  width: 540px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 10px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(220, 192, 255, 0.3);
          box-shadow: 0px 2px 5px 0px rgba(220, 192, 255, 0.3);
}
@media (max-width: 1120px) {
  .wrapper .Portfolio .Portfolio-bottom__img {
    width: 45vw;
  }
}
.wrapper .Clients {
  margin-top: 168px;
}
@media (max-width: 450px) {
  .wrapper .Clients {
    margin-top: 68px;
  }
}
.wrapper .Clients__description {
  color: #8643dc;
  font-family: Red Hat Display;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 1120px) {
  .wrapper .Clients__description {
    margin: 0 auto;
    text-align: center;
  }
}
.wrapper .Clients__line {
  margin: 10px 0px 15px 0px;
  width: 50px;
  height: 2px;
  background: #8643dc;
}
@media (max-width: 1120px) {
  .wrapper .Clients__line {
    margin: 0 auto;
    text-align: center;
  }
}
.wrapper .Clients__title {
  max-width: 225px;
  color: #25202f;
  font-family: Red Hat Display;
  font-size: 36px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
}
@media (max-width: 1120px) {
  .wrapper .Clients__title {
    margin: 0 auto;
    text-align: center;
  }
}
.wrapper .Clients .Clients-block {
  margin-top: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
@media (max-width: 450px) {
  .wrapper .Clients .Clients-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.wrapper .Clients .Clients-block .client {
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 170px;
  border-radius: 10px;
}
@media (max-width: 1120px) {
  .wrapper .Clients .Clients-block .client {
    width: 18vw;
    height: 18vw;
  }
}
@media (max-width: 450px) {
  .wrapper .Clients .Clients-block .client {
    margin: 1px;
  }
}
.wrapper .Clients .Clients-block .client:nth-child(1) {
  border: 1px solid #ffe7f0;
  background: #fff6fa;
}
.wrapper .Clients .Clients-block .client:nth-child(2) {
  border: 1px solid #caffe1;
  background: #edfff5;
}
.wrapper .Clients .Clients-block .client:nth-child(3) {
  border: 1px solid #ddf5ff;
  background: #f5fcff;
}
.wrapper .Clients .Clients-block .client:nth-child(4) {
  border: 1px solid #ffeec9;
  background: #fffbf2;
}
.wrapper .Clients .Clients-block .client:nth-child(5) {
  border: 1px solid #dbffc3;
  background: #f4ffed;
}
@media (max-width: 1120px) {
  .wrapper .Clients .Clients-block .client__img {
    width: 8vw;
    height: 8vw;
  }
}
.wrapper .Clients .Clients-block .client__title {
  color: #000;
  text-align: center;
  font-family: Red Hat Display;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@media (max-width: 1120px) {
  .wrapper .Clients .Clients-block .client__title {
    font-size: 3vw;
  }
}
.wrapper .Testimonials {
  margin-top: 100px;
  padding: 20px 0;
  position: relative;
}
.wrapper .Testimonials .Testimonials-block {
  z-index: 12;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
@media (max-width: 1110px) {
  .wrapper .Testimonials .Testimonials-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(197, 255, 176, 0.2)), to(rgba(203, 163, 255, 0.2)));
    background: linear-gradient(180deg, rgba(197, 255, 176, 0.2) 0%, rgba(203, 163, 255, 0.2) 100%);
  }
}
.wrapper .Testimonials .Testimonials-block-top {
  -ms-flex-item-align: start;
      align-self: flex-start;
  text-align: left;
}
@media (max-width: 1110px) {
  .wrapper .Testimonials .Testimonials-block-top {
    padding-top: 50px;
    text-align: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}
.wrapper .Testimonials .Testimonials-block-top__description {
  z-index: 10;
  color: #8643dc;
  font-family: Red Hat Display;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 1110px) {
  .wrapper .Testimonials .Testimonials-block-top__description {
    margin: 0 auto;
    text-align: center;
  }
}
.wrapper .Testimonials .Testimonials-block-top__line {
  z-index: 10;
  margin: 10px 0px 15px 0px;
  width: 50px;
  height: 2px;
  background: #8643dc;
}
@media (max-width: 1110px) {
  .wrapper .Testimonials .Testimonials-block-top__line {
    margin: 0 auto;
    text-align: center;
  }
}
.wrapper .Testimonials .Testimonials-block-top__title {
  z-index: 10;
  max-width: 225px;
  color: #25202f;
  font-family: Red Hat Display;
  font-size: 36px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
}
@media (max-width: 1110px) {
  .wrapper .Testimonials .Testimonials-block-top__title {
    margin: 0 auto;
    text-align: center;
  }
}
.wrapper .Testimonials .Testimonials-block-main__quotes {
  margin-top: 25px;
  width: 42px;
}
.wrapper .Testimonials .Testimonials-block-main__review {
  z-index: 10;
  margin: 20px 0 25px 0;
  max-width: 569px;
  color: #636066;
  text-align: center;
  font-family: Red Hat Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 200% */
}
.wrapper .Testimonials .Testimonials-block-main__avatar {
  z-index: 10;
  border-radius: 15px;
  background: url(<path-to-image>), lightgray 50%/cover no-repeat;
  mix-blend-mode: luminosity;
}
.wrapper .Testimonials .Testimonials-block-main__name {
  margin-top: 15px;
  color: #000;
  text-align: center;
  font-family: Red Hat Display;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.wrapper .Testimonials .Testimonials-block-main__job {
  margin-top: -18px;
  color: #000;
  font-family: Red Hat Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.wrapper .Testimonials .Testimonials-block-main-points {
  z-index: 101;
  margin-top: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 1110px) {
  .wrapper .Testimonials .Testimonials-block-main-points {
    padding-bottom: 20px;
  }
}
.wrapper .Testimonials .Testimonials-block-main-points__point {
  z-index: 101;
  margin: 0 6px;
  height: 10px;
  width: 10px;
  border: 1px solid #debad9;
  border-radius: 50%;
}
.wrapper .Testimonials .Testimonials-block-main-points__point:first-child {
  background-color: #8643dc;
}
.wrapper .Testimonials .Testimonials-block-bg {
  z-index: 1;
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(197, 255, 176, 0.2)), to(rgba(203, 163, 255, 0.2)));
  background: linear-gradient(180deg, rgba(197, 255, 176, 0.2) 0%, rgba(203, 163, 255, 0.2) 100%);
}
@media (max-width: 1110px) {
  .wrapper .Testimonials .Testimonials-block-bg {
    display: none;
  }
}
.wrapper .Testimonials .Testimonials-block-bg-top {
  width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1110px) {
  .wrapper .Testimonials .Testimonials-block-bg-top {
    display: none;
  }
}
.wrapper .Testimonials .Testimonials-block-bg-top__img {
  z-index: 1;
  background: url(<path-to-image>), lightgray 50%/cover no-repeat;
}
.wrapper .Testimonials .Testimonials-block-bg-top:nth-child(1) {
  margin-top: 350px;
  width: 1110px;
}
.wrapper .Testimonials .Testimonials-block-bg-top:nth-child(2) {
  margin-top: 130px;
}
.wrapper .Blog {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media (max-width: 1110px) {
  .wrapper .Blog {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
@media (max-width: 850px) {
  .wrapper .Blog {
    overflow: hidden;
  }
}
.wrapper .Blog .Blog-left__description {
  z-index: 10;
  color: #8643dc;
  font-family: Red Hat Display;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.wrapper .Blog .Blog-left__line {
  z-index: 10;
  margin: 10px 0px 15px 0px;
  width: 50px;
  height: 2px;
  background: #8643dc;
}
@media (max-width: 1110px) {
  .wrapper .Blog .Blog-left__line {
    margin: 0 auto;
    text-align: center;
  }
}
.wrapper .Blog .Blog-left__title {
  z-index: 10;
  max-width: 225px;
  color: #25202f;
  font-family: Red Hat Display;
  font-size: 36px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
}
.wrapper .Blog .Blog-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
}
.wrapper .Blog .Blog-right .Blog-right-item {
  margin: 0 15px;
}
.wrapper .Blog .Blog-right .Blog-right-item .img1 {
  width: 350px;
}
.wrapper .Blog .Blog-right .Blog-right-item .img2 {
  width: 255px;
}
.wrapper .Blog .Blog-right .Blog-right-item .img3 {
  width: 255px;
}
.wrapper .Blog .Blog-right .Blog-right-item div {
  position: absolute;
  top: 0px;
  width: 255px;
  height: 350px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(196, 196, 196, 0)), to(#25202f));
  background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, #25202f 100%);
}
.wrapper .Blog .Blog-right .Blog-right-item__date {
  margin-top: 205px;
  margin-left: 20px;
  color: #fff;
  font-family: Red Hat Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.wrapper .Blog .Blog-right .Blog-right-item__title {
  margin-left: 20px;
  color: #fff;
  font-family: Red Hat Display;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  max-width: 197px;
}
.wrapper .Blog .Blog-right .Blog-right-item__datef {
  margin-top: 20px;
  color: #8643dc;
}
.wrapper .Blog .Blog-right .Blog-right-item__titlef {
  color: #000;
}
.wrapper .ContactMe {
  margin-top: 150px;
  overflow: hidden;
}
.wrapper .ContactMe .ContactMe-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1110px) {
  .wrapper .ContactMe .ContactMe-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
.wrapper .ContactMe .ContactMe-top .ContactMe-top-left__description {
  z-index: 10;
  color: #8643dc;
  font-family: Red Hat Display;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.wrapper .ContactMe .ContactMe-top .ContactMe-top-left__line {
  z-index: 10;
  margin: 10px 0px 15px 0px;
  width: 50px;
  height: 2px;
  background: #8643dc;
}
@media (max-width: 1110px) {
  .wrapper .ContactMe .ContactMe-top .ContactMe-top-left__line {
    margin: 0 auto;
  }
}
.wrapper .ContactMe .ContactMe-top .ContactMe-top-left__title {
  z-index: 10;
  max-width: 512px;
  color: #25202f;
  font-family: Red Hat Display;
  font-size: 36px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
}
@media (max-width: 573px) {
  .wrapper .ContactMe .ContactMe-top .ContactMe-top-left__title {
    font-family: Red Hat Display;
    font-size: 26px;
  }
}
.wrapper .ContactMe .ContactMe-top .ContactMe-top-right__text {
  color: #8643dc;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  text-transform: lowercase;
}
@media (max-width: 1110px) {
  .wrapper .ContactMe .ContactMe-bottom-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.wrapper .ContactMe .ContactMe-bottom-form__input {
  display: inline-block;
  padding: 17px 5px;
  color: #a8a0b0;
  font-family: Red Hat Display;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
  border: 1px solid #dad2e3;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
}
.wrapper .ContactMe .ContactMe-bottom-form__input::-webkit-input-placeholder {
  color: #a8a0b0;
  font-family: Red Hat Display;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.wrapper .ContactMe .ContactMe-bottom-form__input::-moz-placeholder {
  color: #a8a0b0;
  font-family: Red Hat Display;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.wrapper .ContactMe .ContactMe-bottom-form__input:-ms-input-placeholder {
  color: #a8a0b0;
  font-family: Red Hat Display;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.wrapper .ContactMe .ContactMe-bottom-form__input::-ms-input-placeholder {
  color: #a8a0b0;
  font-family: Red Hat Display;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.wrapper .ContactMe .ContactMe-bottom-form__input::placeholder {
  color: #a8a0b0;
  font-family: Red Hat Display;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 1110px) {
  .wrapper .ContactMe .ContactMe-bottom-form__input {
    margin: 0 auto;
    width: 80%;
    text-align: center;
  }
}
.wrapper .ContactMe .form-bottom-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1110px) {
  .wrapper .ContactMe .form-bottom-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.wrapper .ContactMe .form-bottom-form__button {
  margin-top: 30px;
  padding: 18px 49px;
  color: #fff;
  text-align: center;
  font-family: Red Hat Display;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 100px;
  background: #8643dc;
}
@media (max-width: 1110px) {
  .wrapper .ContactMe .form-bottom-right {
    margin-top: 10px;
  }
}
.wrapper .ContactMe .form-bottom-right__img {
  width: 18px;
}
.wrapper .ContactMe .form-bottom-right__img:first-child {
  margin-right: 16px;
}
.wrapper .footer {
  margin-top: 140px;
}
.wrapper .footer__title {
  color: #21232d;
  text-align: center;
  font-family: Red Hat Display;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.wrapper .footer .footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.wrapper .footer .footer-social a__img {
  width: 50px;
}
.wrapper .footer .footer-social a:nth-child(2) {
  margin: 0 40px;
}