@import url(https://fonts.googleapis.com/css?family=Red+Hat+Display:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic);
body {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.wrapper {
  width: 100%;
  max-width: 1110px;
  @media (min-width: 1110px) {
    width: 1100px;
  }
  @media (max-width: 1110px) {
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .header {
    margin: 0 auto;
    width: 100%;
    margin: 65px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      width: 40px;
      height: 40px;
      @media (max-width: 436px) {
        width: 30px;
        height: 30px;
      }
    }
    .navigation {
      display: flex;
      justify-content: start;
      align-items: center;
      @media (max-width: 800px) and (min-width: 348px) {
        margin: 0 auto;
      }

      &_item {
        a {
          margin: 0 50px;
          font-family: Red Hat Display;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          color: #7e7f86;
          text-decoration: none;
          @media (max-width: 800px) {
            margin: 0 10px;
          }
          @media (max-width: 436px) {
            font-size: 17px;
          }
          @media (max-width: 348px) {
            display: none;
          }
        }
      }
      #about {
        a {
          color: #25202f;
        }
      }
    }
    .burger-menu {
      padding: 20px;
      background-color: white;
      @media (max-width: 436px) {
        padding: 10px;
      }
    }
  }

  .i-am {
    margin-top: -150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 1130px) {
      margin-top: 20px;
      flex-wrap: wrap;
    }

    @media (max-width: 892px) {
      margin-top: -20px;
      justify-content: center;
      flex-direction: column-reverse;
      text-align: center;
    }
    .text-block {
      @media (max-width: 893px) {
        margin-top: 20px;
      }
      &__text {
        span {
          &:nth-child(1) {
            display: block;
            color: #666;
            font-family: Red Hat Display;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%; /* 28.8px */
          }
          &:nth-child(2) {
            margin: 15px 0 20px 0;
            display: block;
            color: #25202f;
            font-family: Red Hat Display;
            font-size: 60px;
            font-style: normal;
            font-weight: 700;
            line-height: 120%;
            @media (max-width: 369px) {
              margin: 10px 0 15px 0;
              font-size: 40px;
              line-height: 110%;
            }
          }
          &:nth-child(3) {
            display: block;
            color: #25202f;
            font-family: Red Hat Display;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            @media (max-width: 369px) {
              font-size: 20px;
            }
          }
        }
      }
      &__button {
        display: inline-block;
        margin-top: 50px;
        padding: 14px 48px;
        color: #fff;
        text-align: center;
        font-family: Red Hat Display;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        border-radius: 100px;
        background: #8643dc;
        text-decoration: none;
        transition-duration: 0.3s;
        &:hover {
          transform: scale(1.1);
          transition-duration: 0.3s;
        }
      }
    }
    .photo {
      @media (max-width: 800px) {
        width: 80vw;
      }
    }
  }
  .Services {
    margin-top: 40px;
    &__description {
      color: #8643dc;
      font-family: Red Hat Display;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      @media (max-width: 730px) {
        margin: 0 auto;
        text-align: center;
      }
    }
    &__line {
      margin: 10px 0px 15px 0px;
      width: 50px;
      height: 2px;
      background: #8643dc;
      @media (max-width: 730px) {
        margin: 0 auto;
        text-align: center;
      }
    }
    &__title {
      max-width: 245px;
      color: #25202f;
      font-family: Red Hat Display;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      @media (max-width: 730px) {
        margin: 0 auto;
        text-align: center;
      }
    }
    .iLoveToDo {
      margin: 50px 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media (max-width: 1110px) {
        flex-wrap: wrap;
      }
      @media (max-width: 730px) {
        justify-content: center;
      }
      .iLoveToDo-block {
        &-top {
          display: flex;
          align-items: center;
          @media (max-width: 730px) {
            justify-content: center;
          }
          &__img {
          }
          &__title {
            margin-left: 20px;
            display: inline-block;
            color: #25202f;
            font-family: Red Hat Display;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
        }
        &__text {
          max-width: 350px;
          color: #47444e;
          font-family: Red Hat Display;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 32px; /* 200% */
          @media (max-width: 730px) {
            text-align: center;
          }
        }
      }
    }
  }
  .Portfolio {
    .Portfolio-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (max-width: 1120px) {
        flex-direction: column;
        justify-content: center;
        text-align: center;
      }
      .Portfolio-top-left {
        &__description {
          color: #8643dc;
          font-family: Red Hat Display;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          @media (max-width: 1120px) {
            margin: 0 auto;
            text-align: center;
          }
        }
        &__line {
          margin: 10px 0px 15px 0px;
          width: 50px;
          height: 2px;
          background: #8643dc;
          @media (max-width: 1120px) {
            margin: 0 auto;
            text-align: center;
          }
        }
        &__title {
          max-width: 245px;
          color: #25202f;
          font-family: Red Hat Display;
          font-size: 36px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          @media (max-width: 1120px) {
            margin: 0 auto;
            text-align: center;
          }
        }
      }
      .Portfolio-top-right {
        display: flex;
        align-items: center;
        justify-content: center;
        &__text {
          color: #25202f;
          font-family: Red Hat Display;
          font-size: 24px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          text-decoration-line: underline;
        }
        &__img {
          margin-top: 5px;
          margin-left: 10px;
          width: 24px;
        }
        @media (max-width: 1120px) {
          margin: 0 auto;
          text-align: center;
        }
      }
    }
    .Portfolio-bottom {
      @media (max-width: 1120px) {
        margin-top: 20px;
      }
      display: flex;
      justify-content: space-between;
      &__img {
        width: 540px;
        flex-shrink: 0;
        border-radius: 10px;
        box-shadow: 0px 2px 5px 0px rgba(220, 192, 255, 0.3);
        @media (max-width: 1120px) {
          width: 45vw;
        }
      }
    }
  }
  .Clients {
    margin-top: 168px;
    @media (max-width: 450px) {
      margin-top: 68px;
    }
    &__description {
      color: #8643dc;
      font-family: Red Hat Display;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      @media (max-width: 1120px) {
        margin: 0 auto;
        text-align: center;
      }
    }
    &__line {
      margin: 10px 0px 15px 0px;
      width: 50px;
      height: 2px;
      background: #8643dc;
      @media (max-width: 1120px) {
        margin: 0 auto;
        text-align: center;
      }
    }
    &__title {
      max-width: 225px;
      color: #25202f;
      font-family: Red Hat Display;
      font-size: 36px;
      font-style: normal;
      font-weight: bold;
      line-height: normal;
      @media (max-width: 1120px) {
        margin: 0 auto;
        text-align: center;
      }
    }
    .Clients-block {
      margin-top: 44px;
      display: flex;
      justify-content: space-between;
      align-self: center;

      @media (max-width: 450px) {
        justify-content: center;
      }
      .client {
        margin: 5px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 170px;
        height: 170px;
        border-radius: 10px;

        @media (max-width: 1120px) {
          width: 18vw;
          height: 18vw;
        }
        @media (max-width: 450px) {
          margin: 1px;
        }
        &:nth-child(1) {
          border: 1px solid #ffe7f0;
          background: #fff6fa;
        }
        &:nth-child(2) {
          border: 1px solid #caffe1;
          background: #edfff5;
        }
        &:nth-child(3) {
          border: 1px solid #ddf5ff;
          background: #f5fcff;
        }
        &:nth-child(4) {
          border: 1px solid #ffeec9;
          background: #fffbf2;
        }
        &:nth-child(5) {
          border: 1px solid #dbffc3;
          background: #f4ffed;
        }
        &__img {
          @media (max-width: 1120px) {
            width: 8vw;
            height: 8vw;
          }
        }
        &__title {
          color: #000;
          text-align: center;
          font-family: Red Hat Display;
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          @media (max-width: 1120px) {
            font-size: 3vw;
          }
        }
      }
    }
  }
  .Testimonials {
    margin-top: 100px;
    padding: 20px 0;
    position: relative;

    .Testimonials-block {
      z-index: 12;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
      text-align: center;
      @media (max-width: 1110px) {
        justify-content: center;
        background: linear-gradient(
          180deg,
          rgba(197, 255, 176, 0.2) 0%,
          rgba(203, 163, 255, 0.2) 100%
        );
      }
      &-top {
        align-self: flex-start;
        text-align: left;
        @media (max-width: 1110px) {
          padding-top: 50px;
          text-align: center;
          align-self: center;
        }
        &__description {
          z-index: 10;
          color: #8643dc;
          font-family: Red Hat Display;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          @media (max-width: 1110px) {
            margin: 0 auto;
            text-align: center;
          }
        }
        &__line {
          z-index: 10;
          margin: 10px 0px 15px 0px;
          width: 50px;
          height: 2px;
          background: #8643dc;
          @media (max-width: 1110px) {
            margin: 0 auto;
            text-align: center;
          }
        }
        &__title {
          z-index: 10;
          max-width: 225px;
          color: #25202f;
          font-family: Red Hat Display;
          font-size: 36px;
          font-style: normal;
          font-weight: bold;
          line-height: normal;
          @media (max-width: 1110px) {
            margin: 0 auto;
            text-align: center;
          }
        }
      }
      &-main {
        &__quotes {
          margin-top: 25px;
          width: 42px;
        }
        &__review {
          z-index: 10;
          margin: 20px 0 25px 0;
          max-width: 569px;
          color: #636066;
          text-align: center;
          font-family: Red Hat Display;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 32px; /* 200% */
        }
        &__avatar {
          z-index: 10;
          border-radius: 15px;
          background: url(<path-to-image>), lightgray 50% / cover no-repeat;
          mix-blend-mode: luminosity;
        }
        &__name {
          margin-top: 15px;
          color: #000;
          text-align: center;
          font-family: Red Hat Display;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
        &__job {
          margin-top: -18px;
          color: #000;
          font-family: Red Hat Display;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
        &-points {
          z-index: 101;
          margin-top: 46px;
          display: flex;
          align-items: center;
          justify-content: center;
          @media (max-width: 1110px) {
            padding-bottom: 20px;
          }
          &__point {
            z-index: 101;
            margin: 0 6px;
            height: 10px;
            width: 10px;
            border: 1px solid #debad9;
            border-radius: 50%;
            &:first-child {
              background-color: #8643dc;
            }
          }
        }
      }

      &-bg {
        z-index: 1;
        width: 100vw;
        height: 100%;
        position: absolute;
        top: 0px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background: linear-gradient(
          180deg,
          rgba(197, 255, 176, 0.2) 0%,
          rgba(203, 163, 255, 0.2) 100%
        );
        @media (max-width: 1110px) {
          display: none;
        }
        &-top {
          width: 800px;
          display: flex;
          justify-content: space-between;
          @media (max-width: 1110px) {
            display: none;
          }
          &__img {
            z-index: 1;
            background: url(<path-to-image>), lightgray 50% / cover no-repeat;
          }
          &:nth-child(1) {
            margin-top: 350px;
            width: 1110px;
          }
          &:nth-child(2) {
            margin-top: 130px;
          }
        }
      }
    }
  }
  .Blog {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    @media (max-width: 1110px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    @media (max-width: 850px) {
      overflow: hidden;
    }
    .Blog-left {
      &__description {
        z-index: 10;
        color: #8643dc;
        font-family: Red Hat Display;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      &__line {
        z-index: 10;
        margin: 10px 0px 15px 0px;
        width: 50px;
        height: 2px;
        background: #8643dc;
        @media (max-width: 1110px) {
          margin: 0 auto;
          text-align: center;
        }
      }
      &__title {
        z-index: 10;
        max-width: 225px;
        color: #25202f;
        font-family: Red Hat Display;
        font-size: 36px;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
      }
    }
    .Blog-right {
      display: flex;
      justify-content: space-around;
      position: relative;
      .Blog-right-item {
        margin: 0 15px;
        .img1 {
          width: 350px;
        }
        .img2 {
          width: 255px;
        }
        .img3 {
          width: 255px;
        }
        div {
          position: absolute;
          top: 0px;
          width: 255px;
          height: 350px;
          background: linear-gradient(
            180deg,
            rgba(196, 196, 196, 0) 0%,
            #25202f 100%
          );
        }
        &__date {
          margin-top: 205px;
          margin-left: 20px;
          color: #fff;
          font-family: Red Hat Display;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
        &__title {
          margin-left: 20px;
          color: #fff;
          font-family: Red Hat Display;
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          max-width: 197px;
        }
        &__datef {
          margin-top: 20px;
          color: #8643dc;
        }
        &__titlef {
          color: #000;
        }
      }
    }
  }
  .ContactMe {
    margin-top: 150px;
    overflow: hidden;
    .ContactMe-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (max-width: 1110px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
      .ContactMe-top-left {
        &__description {
          z-index: 10;
          color: #8643dc;
          font-family: Red Hat Display;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
        &__line {
          z-index: 10;
          margin: 10px 0px 15px 0px;
          width: 50px;
          height: 2px;
          background: #8643dc;

          @media (max-width: 1110px) {
            margin: 0 auto;
          }
        }
        &__title {
          z-index: 10;
          max-width: 512px;
          color: #25202f;
          font-family: Red Hat Display;
          font-size: 36px;
          font-style: normal;
          font-weight: bold;
          line-height: normal;
          @media (max-width: 573px) {
            font-family: Red Hat Display;
            font-size: 26px;
          }
        }
      }
      .ContactMe-top-right {
        &__text {
          color: #8643dc;
          font-family: Roboto;
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          text-decoration-line: underline;
          text-transform: lowercase;
        }
      }
    }
    .ContactMe-bottom {
      &-form {
        @media (max-width: 1110px) {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
        }
        &__input {
          display: inline-block;
          padding: 17px 5px;
          color: #a8a0b0;
          font-family: Red Hat Display;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          width: 100%;
          border: 1px solid #dad2e3;
          border-top: 0px;
          border-right: 0px;
          border-left: 0px;
          &::placeholder {
            color: #a8a0b0;
            font-family: Red Hat Display;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }

          @media (max-width: 1110px) {
            margin: 0 auto;
            width: 80%;
            text-align: center;
          }
        }
      }
    }
    .form-bottom-form {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (max-width: 1110px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      &__button {
        margin-top: 30px;
        padding: 18px 49px;
        color: #fff;
        text-align: center;
        font-family: Red Hat Display;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        border-radius: 100px;
        background: #8643dc;
      }
    }
    .form-bottom-right {
      @media (max-width: 1110px) {
        margin-top: 10px;
      }
      &__img {
        width: 18px;
        &:first-child {
          margin-right: 16px;
        }
      }
    }
  }
  .footer {
    margin-top: 140px;
    &__title {
      color: #21232d;
      text-align: center;
      font-family: Red Hat Display;
      font-size: 36px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    .footer-social {
      display: flex;
      align-items: center;
      justify-content: center;
      a {
        &__img {
          width: 50px;
        }
        &:nth-child(2) {
          margin: 0 40px;
        }
      }
    }
  }
}
